.movie-component {
  float: left;
  width: 150px;
  height: 150px;
  margin: 25px;
  margin-top: 60px;
  cursor: pointer;
  color: #f5f5f5de;
}

.movie-component span {
  display: block;
  height: 50px;
  text-align: center;
}

.movie-component span:nth-child(1) {
  font-weight: bold;
}

.movie-component img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.movie-hover {
  background-color: yellow;
  display: none;
}
.movie-component img:hover + .movie-hover {
  display: block;
  color: red;
}

.modal-title {
  text-align: center;
  width: auto;
}

.modal-close {
  font-weight: bold;
  background-color: #4e4e50;
  color: #c3073f;
  padding: 7px;
  border-radius: 5px;
  float: right;
  cursor: pointer;
}

.modal_votes {
  background-color: rgb(255, 255, 0);
  text-align: center;
  margin: 5px;
  padding: 5px;
  margin-left: 50%;
  transform: translate(-50%, 50%);
  width: max-content;
}

.modal-body {
  display: block;
  height: auto;
  padding: 15px;
}

.modal-posters {
  text-align: center;
  height: 250px;
}

.modal-posters img {
  height: 100%;
  width: 30%;
  object-fit: contain;
  margin: 5px;
}

.stars {
  padding: 15px;
  height: auto;
  display: block;
}

@media screen and (max-width: 500px) {
  .modal-posters img {
    display: block;
    width: 100%;
  }
}
